<nav class="center-hrizontal">
	<a href="/">MUSIC SNS!!!</a>

		<a href="/home"><img src="" alt="user_image" width="40" height="40"></a>
		<a href="/search">search</a>
		<a href="/sign_out">logout</a>

</nav>
<section class="center-vertical">
	<h1>の投稿</h1>


		<div class="post center-vertical">

			<a href="/delete/:id">削除</a>
			<a href="/edit/:id">編集</a>
		</div>
</section>